.vscode/
__pycache__/
*.pyc
taming_comb/__pycache__/
.ipynb_checkpoints/

# reconstructions
res*/

# model
b_switch*/
a_model*/
afhq*/
both*/
cat*/
dog*/
ln*/
setting_c*/

# add taming module by `git add -f [dir_name]`
taming*/

# add config file by `git add -f [config.yaml]`
*.yaml

*.sh
*.ipynb
*.txt
avg_indices.py
